<ion-header>
  <ion-toolbar>
    <ion-title>Detalhe do Artigo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
      <ion-card>

        <ion-card-header>
          <ion-card-subtitle> {{ artigo.data }} </ion-card-subtitle>
          <ion-card-title>{{ artigo.titulo }}</ion-card-title>
        </ion-card-header>

        <div class="ion-text-center"><img [src]="artigo.imgUrl" width="92%"></div>
        <ion-card-content>
          <div [innerHTML]="artigo.texto"></div>
          <br><br>
          <ion-card-subtitle>{{ artigo.autor }}</ion-card-subtitle>  
        </ion-card-content>
        
      </ion-card>
</ion-content>
