<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Artigos...
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1> {{ aluno }} </h1> 
  <!-- <img [src]="imgUrl"> -->

<!--   <ion-card>
    <ion-card-header>
      <ion-card-subtitle>E o Oscar de salvador dos developers vai para...</ion-card-subtitle>
      <ion-card-title>StackOverflow !!!</ion-card-title>
    </ion-card-header>
    <img [src]="imgUrl">
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>data</ion-card-subtitle>
      <ion-card-title>título</ion-card-title>
    </ion-card-header>
    <img [src]="imgUrl">
    <ion-card-content>
      texto
      <br><br>
      <ion-card-subtitle>autor</ion-card-subtitle>  
    </ion-card-content>
    
  </ion-card>
 -->


  <ion-list>
    <button ion-item *ngFor="let artigo of artigos" (click)="abrirArtigo(artigo)">
      <ion-item>
        <ion-avatar slot="start">
          <img [src]="artigo.imgUrl">
        </ion-avatar>
        <ion-label>
          <h3>{{ artigo.data }}</h3>
          <div class="ion-text-wrap">
          <h2>{{ artigo.titulo }}</h2>
        </div>
        </ion-label>

      </ion-item>

    </button>
  </ion-list>

</ion-content>
